*{
    margin: 0;
}
@font-face {
    font-family: 'Antique';
    src: url("./public/fonts/BacasimeAntique-Regular.ttf");
}
@font-face {
    font-family: 'Satisy';
    src: url("./public/fonts/Satisfy-Regular.ttf");
}
.main{
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
}
.main h1{
    padding: 50px;
}
.displays{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
li{
    padding: 50px;
    font-size: 20px;
    font-family: Antique;
    font-weight: bold;
    color: beige;
    text-decoration: none;

}
.main h1 {
    font-family: Satisy;
    font-weight: bold;
    font-size: 50px;
    margin-top: -35px;
    color: #FFFFFF;
}
.displays a{
    text-decoration: none;
    color: #FFFFFF;
}
